<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<style>
	#wrap {width: 1200px; margin: 0 auto;}
	#header {width: 1200px; height: 100px; background-color: #111;}
	#nav {width: 1200px; height: 100px; background-color: #222;}
	#side {width: 400px; height: 420px; background-color: #333; float: left;}
	#container {width: 800px; height: 420px; background-color: #444; float: left;}
	#footer {width: 1200px; height: 100px; background-color: #555; clear: both;}
</style>

<body>
	<div id="wrap">
		<header id="header">header</header>
		<nav id="nav">nav</nav>
		<aside id="side">side</aside>
		<section id="container">container</section>
		<footer id="footer">footer</footer>
	</div>
	
</body>
</html>